@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@font-face {
    font-family: 'Charter';
    src: url('/fonts/charter-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Charter';
    src: url('/fonts/charter-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Charter';
    src: url('/fonts/charter-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Charter';
    src: url('/fonts/charter-bold-italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

#nd-docs-layout {
    --fd-layout-offset: 0px;
}

.font-serif{
    font-family: 'Charter', serif;
}