@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply transition-colors duration-300 dark:[color-scheme:dark] text-[0.95rem];
 
}

h1{
  @apply text-3xl leading-[3.25rem];
}

h2{
  @apply text-2xl;
}

h3{
  @apply text-xl;
}

/** 
 * Lexical Editor Styles (Tailwind does not wok too well with)
 */

.root-ol{
  padding: 0;
  margin: 0;
  list-style-position: inside;
  list-style:decimal;
}

.ol-1{
  list-style-type: lower-alpha;
}

.root-ul {
  padding: 0;
  margin: 0;
  list-style-position: inside;
  list-style: disc;
}

.ul-1 {
  list-style:circle;
}

.root-li {
  margin: 0 32px;
}

.nested-li{
  list-style-type: none;
}

.nested:before,
.nested:after {
  display: none;
}

.text-italic{
  font-style: italic;
}
.text-bold{
  font-weight: bold;
}
.text-underline{
  text-decoration: underline;
}
.text-strikethrough{
  text-decoration: line-through;
}
