@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Bricolage Grotesque";
    src: url("./assets/fonts/BricolageGrotesque_24pt-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bricolage Grotesque";
    src: url("./assets/fonts/BricolageGrotesque_24pt-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Jetbrains Mono";
    src: url("./assets/fonts/JetBrainsMono-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Jetbrains Mono";
    src: url("./assets/fonts/JetBrainsMono-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Jetbrains Mono";
    src: url("./assets/fonts/JetBrainsMono-Italic.ttf");
    font-style: italic;
}

:root {
    @apply transition-colors duration-300 dark:[color-scheme:dark];
}

h1 {
    @apply text-3xl leading-[3.25rem];
}

h2 {
    @apply text-2xl leading-[2.25rem];
}

h3 {
    @apply text-xl;
}

.button-invert {
    @apply bg-zinc-800 text-zinc-200 dark:bg-zinc-200 dark:text-zinc-900;
}

/**
 * Code mirror styles
 */
.cm-content {
    font-family: "Jetbrains Mono", monospace;
    font-size: 14px;
}

.cm-tooltip.cm-tooltip-autocomplete ul {
    font-family: "Jetbrains Mono", monospace;
    font-size: 12px;
}

.cm-tooltip.cm-tooltip-autocomplete & > ul & > li,
& > .completion-section {
    padding: 0.15rem;
}

/**
 * Lexical Editor Styles (Tailwind does not work too well with)
 */

.link{
    @apply text-blue-500 dark:text-blue-400 cursor-pointer decoration-2 underline-offset-2 underline;
}

.root-ol {
    padding: 0;
    margin: 0;
    list-style: decimal inside;
}

.ol-1 {
    list-style-type: lower-alpha;
}

.check-list {
    list-style-type: none;
}

.root-ul {
    padding: 0;
    margin: 0;
    list-style: disc inside;
}

.ul-1 {
    list-style: circle;
}

.root-li {
    margin: 0 32px;
}

.nested-li {
    list-style-type: none;
}

.nested-li:before,
.nested-li:after {
    display: none !important;
}

.nested:before,
.nested:after {
    display: none;
}

.text-italic {
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}

.text-underline {
    text-decoration: underline;
}

.text-strikethrough {
    text-decoration: line-through;
}

.editor-scroller {
    min-height: 150px;
    border: 0;
    display: flex;
    position: relative;
    outline: 0;
    z-index: 0;
    overflow: auto;
    resize: vertical;
}

.editor {
    flex: auto;
    position: relative;
    resize: vertical;
    z-index: -1;
}

[contenteditable="true"]:focus {
    outline: 0;
}

.PlaygroundEditorTheme__listItemChecked,
.PlaygroundEditorTheme__listItemUnchecked {
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 24px;
    padding-right: 24px;
    list-style-type: none;
    outline: none;
    cursor: pointer;
    margin-block: 0.315rem;
}

.PlaygroundEditorTheme__listItemChecked > span,
.PlaygroundEditorTheme__listItemUnchecked > span {
    cursor: text;
    text-decoration-thickness: 0.13rem;
}

.PlaygroundEditorTheme__listItemChecked {
    text-decoration-line: line-through;
}

.PlaygroundEditorTheme__listItemUnchecked:before,
.PlaygroundEditorTheme__listItemChecked:before,
.PlaygroundEditorTheme__listItemUnchecked:after,
.PlaygroundEditorTheme__listItemChecked:after {
    border-radius: 5px;
}

.PlaygroundEditorTheme__listItemUnchecked:before,
.PlaygroundEditorTheme__listItemChecked:before {
    content: "";
    width: 19px;
    height: 19px;
    top: 2px;
    left: 0;
    display: block;
    background-size: cover;
    position: absolute;
}

.PlaygroundEditorTheme__listItemUnchecked[dir="rtl"]:before,
.PlaygroundEditorTheme__listItemChecked[dir="rtl"]:before {
    left: auto;
    right: 0;
}

.PlaygroundEditorTheme__listItemUnchecked:before {
    border: 1px solid #999;
}

.PlaygroundEditorTheme__listItemChecked:before {
    border: 1px solid #2ba43c;
    background-color: #2ba43c;
    background-repeat: no-repeat;
}

.PlaygroundEditorTheme__listItemChecked:after {
    content: "";
    border-color: #fff;
    border-style: solid;
    position: absolute;
    display: block;
    top: 6.5px;
    width: 5.25px;
    left: 7.25px;
    right: 7px;
    height: 9.5px;
    transform: rotate(45deg);
    border-width: 0 2.3px 2.3px 0;
    cursor: pointer;
}
