@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-display: Bricolage Grotesque;
  --font-code: Jetbrains Mono;
  --color-zinc-150: rgb(236 236 236);
  --color-zinc-650: rgb(73 73 83);
  --color-zinc-750: rgb(53, 53, 59);
  --color-zinc-850: rgb(30, 30, 36);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
/* @layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
} */

@layer utilities {
  @keyframes customPulse {
    0%,
    100% {
      opacity: 1;
      transform: scale(1.05);
    }
    50% {
      opacity: 0.7;
      transform: scale(0.9);
    }
  }

  .kernel-heartbeat {
    animation: customPulse 2.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes dialog-pop-in {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .dialog-animation {
    animation: dialog-pop-in 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('./assets/fonts/BricolageGrotesque-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('./assets/fonts/BricolageGrotesque-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Jetbrains Mono';
  src: url('./assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jetbrains Mono';
  src: url('./assets/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Jetbrains Mono';
  src: url('./assets/fonts/JetBrainsMono-Italic.woff2') format('woff2');
  font-style: italic;
}

* {
  scrollbar-width: thin;
  --accent-color: rgb(var(--accent-color-values));
  --accent-color-highlight: rgba(var(--accent-color-values), 0.45);
  --accent-color-highlight-low: rgba(var(--accent-color-values), 0.15);
  caret-color: var(--accent-color);
  /* Prevent text selection */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /* Prevent touch callouts */
  -webkit-touch-callout: none;
  /* Prevent content adjustment on iOS */
  -webkit-text-size-adjust: 100%;
}

pre {
  @apply select-text cursor-text;
}

::selection {
  @apply bg-(--accent-color-highlight);
}

html {
  @apply cursor-default leading-[1.7];
}

html:has(.dark) {
  color-scheme: dark;
}

/* native keyboard focus */
:focus-visible {
  @apply outline-2 outline-(--accent-color) border-(--accent-color) shadow-none;
}

mark {
  @apply bg-(--accent-color-highlight) text-zinc-900 dark:text-zinc-100;
}

input[type='text'],
textarea,
[contenteditable] {
  @apply select-text;
}

.draggable-block-menu {
  @apply rounded px-px py-[2px] cursor-grab opacity-0 absolute left-0 top-0 will-change-transform;
}

::spelling-error {
  text-decoration: wavy red underline;
}

.list-sidebar-item {
  @apply flex flex-1 gap-2 items-center px-2 py-[0.2rem] rounded-md relative z-10 overflow-x-hidden transition-colors duration-125 will-change-transform;
}
.list-sidebar-item:focus {
  outline: 2px auto;
}

.card-sidebar-item {
  @apply flex flex-1 gap-2 items-center border-b border-zinc-300 dark:border-zinc-600 px-2 py-[0.2rem] relative z-10 overflow-x-hidden transition-colors will-change-transform;
}
.card-sidebar-item:focus {
  outline: 2px auto;
}

#content-editable-editor {
  @apply leading-loose cursor-text isolate py-1;
  /* Contain:layout style paint makes the editor handle larger content more efficiently */
  contain: layout style paint;
}

#content-editable-editor h1,
h1.dragging {
  @apply text-3xl leading-13;
}

#content-editable-editor h2,
h2.dragging {
  @apply text-2xl leading-11.5;
}

#content-editable-editor h3,
h3.dragging {
  @apply text-xl leading-10;
}

#content-editable-editor h4,
h4.dragging {
  @apply text-lg leading-9 font-semibold;
}

#content-editable-editor h5,
h5.dragging {
  @apply text-base leading-8 font-bold;
}

#content-editable-editor > h6,
h6.dragging {
  @apply text-sm leading-7 font-bold;
}

.button-invert {
  @apply bg-(--accent-color) text-zinc-50;
}

/* inline code styles */
code {
  @apply text-sm;
}

/**
 * Codemirror styles
 */
.cm-theme {
  @apply h-auto overflow-x-auto overflow-y-visible;
}

.cm-content {
  @apply font-code text-[13px] py-3 px-2!;
}

.cm-background {
  @apply bg-white dark:bg-[#1e1e1e];
}

.cm-lineNumbers {
  @apply text-xs text-zinc-500;
}

.cm-gutter-element {
  @apply py-0 pr-[3px] pl-0!;
}

.cm-editor .cm-cursor {
  @apply border-l-[2.5px] border-l-(--accent-color) border-solid!;
}

/* Styling the vim cursor */
.cm-editor:not(.cm-focused) .cm-fat-cursor {
  @apply outline-(--accent-color)!;
}

.cm-editor.cm-focused .cm-fat-cursor {
  @apply bg-(--accent-color)!;
}

.cm-theme .cm-selectionLayer .cm-selectionBackground {
  @apply bg-(--accent-color-highlight)! opacity-80;
}

.cm-focused {
  @apply outline-none!;
}
.cm-cursorLayer {
  @apply animate-none!;
}
.cm-gutters {
  @apply border-0!;
}

.cm-tooltip-custom {
  @apply bg-zinc-50! dark:bg-zinc-800! text-zinc-900 dark:text-zinc-200 border-zinc-200! dark:border-zinc-750! py-2 px-3 shadow-lg border! font-code text-xs max-h-[30vh] max-w-[60vw] overflow-y-auto;
}

.cm-tooltip-autocomplete {
  @apply bg-zinc-50/85! dark:bg-zinc-800/95! text-zinc-900 dark:text-zinc-200 border-zinc-200! dark:border-zinc-750! rounded-lg! py-1.5 px-1 shadow-lg border!;
}

.cm-tooltip-autocomplete > ul > li {
  @apply py-1! px-1.5! rounded-md;
}

.cm-tooltip-autocomplete > ul > li[aria-selected='true'] {
  @apply bg-(--accent-color)!;
}
/* The signature that shows to the right of the completion label */
.cm-completionDetail {
  @apply text-[0.65rem] text-zinc-400;
}

.cm-tooltip-autocomplete
  > ul
  > li[aria-selected='true']
  > .cm-completionDetail {
  @apply text-zinc-50;
}

/* Adding some icons to the completion list */
.cm-tooltip-autocomplete .cm-completionIcon-path::before {
  content: '𝐩';
}

.cm-tooltip-autocomplete .cm-completionIcon-statement::before {
  content: '𝑺';
}

.cm-tooltip-autocomplete .cm-completionIcon-instance::before {
  content: '𝐢';
}

.cm-tooltip-autocomplete .cm-completionIcon-module::before {
  content: '𝐦';
}

/* Makes sure that the code block does not overlap with the traffic lights when in fullscreen mode */
div[data-is-fullscreen='true'] .cm-scroller {
  @apply pt-12!;
}

/* Makes sure that the tabs are not overlapping with the icons in the code block */
.sp-tabs {
  @apply pr-[106px];
}
.sp-tab-button {
  @apply font-code;
}

.dragging {
  @apply bg-zinc-50 text-left dark:bg-zinc-700 text-zinc-950 dark:text-zinc-100 border-zinc-200 dark:border-zinc-600 border-2 absolute top-0 left-[-9999px] px-2 py-0.5 rounded-lg font-display text-nowrap whitespace-nowrap overflow-hidden text-ellipsis;
}

.drag-grid {
  @apply grid grid-cols-[1.5rem_1fr] gap-y-[0.35rem];
}

.settings-row-grid {
  @apply grid grid-cols-[1fr_2fr] gap-4;
}

/**
 * Lexical Editor Styles
 */

.link {
  @apply cursor-pointer text-(--accent-color) underline decoration-2 underline-offset-2 w-fit;
}

.link:hover {
  @apply filter brightness-90 dark:brightness-125;
}

.link-internal {
  @apply text-(--accent-color) underline decoration-2 underline-offset-2 transition-colors inline-flex items-baseline gap-0.5 w-fit cursor-pointer;
}

.link-internal:hover {
  @apply filter brightness-90 dark:brightness-125;
}

.editor-quote {
  @apply border-l-4 border-(--accent-color) pl-4 my-4 text-zinc-700 dark:text-zinc-300 italic;
}

.root-ol {
  @apply p-0 m-0 list-decimal;
}

.ol-1 {
  @apply list-[lower-alpha];
}

.check-list {
  @apply list-none;
}

.root-ul {
  @apply p-0 m-0 list-disc;
}

.ul-1 {
  @apply list-[circle];
}

.root-li {
  @apply mx-8;
}

.nested-li {
  @apply list-none;
}

.nested-li:before,
.nested-li:after {
  @apply hidden!;
}

.nested:before,
.nested:after {
  @apply hidden;
}

.text-italic {
  @apply italic;
}

.text-bold {
  @apply font-bold;
}

.text-underline {
  @apply no-underline;
}

.text-strikethrough {
  @apply line-through decoration-[0.1rem];
}

.editor-scroller {
  @apply min-h-[150px] border-0 flex relative outline-0 z-0 overflow-auto resize-y;
}

.editor {
  @apply flex-auto relative resize-y -z-10 cursor-text;
}

[contenteditable='true']:focus {
  @apply outline-0;
}

hr {
  @apply text-zinc-300 dark:text-zinc-500;
}

/* Table of contents list */
.toc-list-item {
  @apply wrap-break-word text-sm;
}

.toc-list-item::before {
  content: '•';
  @apply text-[1.2em] align-top mr-2;
}
/* Image & Video Component */
/* p:has(> span > div > :is(img, video, span[data-katex="true"])),
h1:has(> span > div > :is(img, video, span[data-katex="true"])),
h2:has(> span > div > :is(img, video, span[data-katex="true"])),
h3:has(> span > div > :is(img, video, span[data-katex="true"])),
h4:has(> span > div > :is(img, video, span[data-katex="true"])),
h5:has(> span > div > :is(img, video, span[data-katex="true"])),
h6:has(> span > div > :is(img, video, span[data-katex="true"])) {
	This makes the image and video work correctly with inline content
	@apply block;
} */
/* Checkbox Styles */
.PlaygroundEditorTheme__listItemChecked,
.PlaygroundEditorTheme__listItemUnchecked {
  @apply relative mx-2 pl-6 pr-6 list-none outline-none cursor-pointer my-[0.315rem] w-fit;
}

.PlaygroundEditorTheme__listItemChecked > span,
.PlaygroundEditorTheme__listItemUnchecked > span {
  @apply cursor-text decoration-[0.13rem] pl-[0.2rem];
}

.PlaygroundEditorTheme__listItemChecked {
  @apply line-through decoration-(--accent-color);
}

.PlaygroundEditorTheme__listItemUnchecked:before,
.PlaygroundEditorTheme__listItemChecked:before,
.PlaygroundEditorTheme__listItemUnchecked:after,
.PlaygroundEditorTheme__listItemChecked:after {
  @apply rounded-full;
}

.PlaygroundEditorTheme__listItemUnchecked:before,
.PlaygroundEditorTheme__listItemChecked:before {
  content: '';
  @apply w-[19px] h-[19px] top-1 left-0 block bg-cover absolute;
}

.PlaygroundEditorTheme__listItemUnchecked[dir='rtl']:before,
.PlaygroundEditorTheme__listItemChecked[dir='rtl']:before {
  @apply left-auto right-0;
}

.PlaygroundEditorTheme__listItemUnchecked:before {
  @apply border border-[#999];
}

.PlaygroundEditorTheme__listItemChecked:before {
  @apply border border-(--accent-color) bg-(--accent-color) bg-no-repeat;
}

.PlaygroundEditorTheme__listItemChecked:after {
  content: '';
  @apply border-white border-solid absolute block top-[8.5px] w-[5.25px] left-[7.25px] right-[7px] h-[9.5px] rotate-45 border-y-[2.3px] border-x-0 cursor-pointer;
}

/* Table Styles */
.PlaygroundEditorTheme__table {
  @apply border-collapse overflow-x-scroll overflow-y-scroll w-full my-[30px] border-spacing-0 table-fixed;
}
.PlaygroundEditorTheme__tableSelection *::selection {
  @apply bg-transparent;
}
.PlaygroundEditorTheme__tableSelected {
  @apply outline-2 outline-[rgb(60,132,244)];
}
.PlaygroundEditorTheme__tableCell {
  @apply border border-zinc-300 dark:border-zinc-500 w-[75px] min-w-[75px] align-top text-start p-[6px_8px] relative outline-none;
}
.PlaygroundEditorTheme__tableCellSortedIndicator {
  @apply block opacity-50 absolute bottom-0 left-0 w-full h-1 bg-[#999];
}
.PlaygroundEditorTheme__tableCellResizer {
  @apply absolute -right-1 h-full w-2 cursor-ew-resize z-10 top-0;
}

th {
  @apply font-normal;
}

/* .PlaygroundEditorTheme__tableCellHeader {
  text-align: start;
} */

.PlaygroundEditorTheme__tableCellSelected {
  @apply bg-(--accent-color-highlight);
}
.PlaygroundEditorTheme__tableCellPrimarySelected {
  @apply border-2 border-[rgb(60,132,244)] block h-[calc(100%-2px)] absolute w-[calc(100%-2px)] -left-px -top-px z-2;
}
.PlaygroundEditorTheme__tableCellEditing {
  @apply shadow-[0_0_5px_rgba(0,0,0,0.4)] rounded-[3px];
}
.PlaygroundEditorTheme__tableAddColumns {
  @apply absolute top-0 w-5 bg-[#eee] h-full -right-[25px] border-0 cursor-pointer;
  animation: table-controls 0.2s ease;
}
.PlaygroundEditorTheme__tableAddColumns:after {
  background-image: url(../images/icons/plus.svg);
  @apply bg-contain bg-center bg-no-repeat block absolute top-0 left-0 w-full h-full opacity-40;
  content: ' ';
}
.PlaygroundEditorTheme__tableAddColumns:hover {
  @apply bg-[#c9dbf0];
}
.PlaygroundEditorTheme__tableAddRows {
  @apply absolute -bottom-[25px] w-[calc(100%-25px)] bg-[#eee] h-5 left-0 border-0 cursor-pointer;
  animation: table-controls 0.2s ease;
}
.PlaygroundEditorTheme__tableAddRows:after {
  background-image: url(../images/icons/plus.svg);
  @apply bg-contain bg-center bg-no-repeat block absolute top-0 left-0 w-full h-full opacity-40;
  content: ' ';
}
.PlaygroundEditorTheme__tableAddRows:hover {
  @apply bg-[#c9dbf0];
}
@keyframes table-controls {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.PlaygroundEditorTheme__tableCellResizeRuler {
  @apply block absolute w-px bg-[rgb(60,132,244)] h-full top-0;
}
.PlaygroundEditorTheme__tableCellActionButtonContainer {
  @apply block right-[5px] top-[6px] absolute z-4 w-5 h-5;
}
.PlaygroundEditorTheme__tableCellActionButton {
  @apply bg-[#eee] block border-0 rounded-[20px] w-5 h-5 text-[#222] cursor-pointer;
}
.PlaygroundEditorTheme__tableCellActionButton:hover {
  @apply bg-[#ddd];
}

.scrollbar-hidden {
  scrollbar-width: none;
}
